:root   /* Colors for dark mode */
{
    --current-mode-text-color: white; /* Color of the label 'Dark Mode' */
    --navbar-color: #4f95e4;
    --background-color: #090c10;
    --navbar-dark-background-color: #161b22;
    --input-type-text-color: whitesmoke;
    --input-type-text-focus: #0d1117;
    --form-wrapper-background: #0d1117;
    --form-wrapper-border: #c9d1d946;
    --hover-border: white;
    --result-wrapper-color: whitesmoke;
    --result-wrapper-background: #0d1117;
    --result-wrapper-border: #c9d1d946;
    --footer-color: #4f95e4;
    --label-color: aliceblue;
    --a-color: #4f95e4;
    --form-control-background: #0d1117;
}

[theme="light"]
{
    --current-mode-text-color: black;/* Color of the label 'Light Mode' */
    --navbar-color:#4f95e4;/* rgba(0, 0, 0, 0.6); */
    --label-color: black;
    --background-color: white;
    --navbar-dark-background-color: whitesmoke;
    --input-type-text-color: black;
    --form-wrapper-background: whitesmoke;
    --result-wrapper-background: whitesmoke;
    --hover-border: #6e7377d3;
    --result-wrapper-color: black;
    --form-control-background: white;
    --input-type-text-focus: white;
    --form-color: black;
}

body
{
    margin-top: 0px;
    background-color: var(--background-color);
    color: black;
}

.navbar{
    color: var(--navbar-color);
    animation: slide ease .7s;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
}

@keyframes slide {
    0% {
        transform: translate(0, -20px);
        opacity:.1;
    }
    100% {
        transform: translate(0, 0);
        opacity:1;
}
}

.navbar-dark{
    background-color: var(--navbar-dark-background-color);
}

input[type=text]
{
    color: var(--input-type-text-color);
}

input[type=text]:hover{
    border-color: var(--hover-border);
}

input[type=text]:focus{
    border-color: #4f95e4;
    color: var(--input-type-text-color);
    background-color: var(--input-type-text-focus);
}

.form-wrapper
{
    color: var(--label-color); 
    padding: 10px 15px;
    background-color: var(--form-wrapper-background);
    border: 1px solid var(--form-wrapper-border);
    border-radius: 6px;
    /* animation: fadeIn linear .7s; */
}


.result-wrapper
{
    color: var(--result-wrapper-color);
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--result-wrapper-background);
    border: 1px solid var(--result-wrapper-border);
    border-radius: 6px;
}

footer{

    color: var(--footer-color);
    text-align: center;
    padding: 40px;
    width: 100%;
}

.fa{
    top: 5px;
    position: relative;
    padding: 0 10px 0 10px;
}

.icon:hover{
    transform: scale(1.1);
    
}

.icon{
    margin:0 30px;
    width: 30px;
}

label{
    color: var(--label-color);
}

h1
{
    margin: auto;
}

p{
    font-family: 'Raleway', sans-serif;
}

a{
    color: var(--a-color);
}

a:hover{
    text-decoration: none;
}

.form-control{
    border-radius: 30px;
    background-color: var(--form-control-background);
}

.container
{
    max-width: 60%;
    margin-top: 40px;
}

.button
{
   /* display: block; */
   display: flex;
   justify-content: center;
    text-align: center;
    margin: auto;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
 box-shadow: 0 0 0 30px var(--background-color) inset !important;
}

input:-webkit-autofill
{
    -webkit-text-fill-color: var(--input-type-text-color) !important;
}

.clearBtn
{
    margin-right: 20px;
}
.btn{
    font-size: 1rem;
    padding: 10px 50px;
    background-color: #4f95e4;
    border-radius: 40px;
}

/* Switch to change theme */

.theme-switch-wrapper {
  display: flex;
  align-items: center;


}
.theme-switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 30px;
}

.nextTheme
{
    margin-left: 10px;
    margin-bottom: 8px;
    color: var(--current-mode-text-color);
    font-size: 12px;
}
.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  transition: .3s;
  width: 13px;
}

input:checked + .slider {
  background-color: #4f95e4;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media only screen and (max-width: 600px)
{

    .container
    {
        max-width: 100%;
    }
  }