body
{
    margin-top: 0px;
    background-color: #090c10;/*linear-gradient(to right,#02aab0, #00cdac);*/
    color: black;
}

.navbar{
    color: #4f95e4;
    animation: slide ease .7s;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
}

@keyframes slide {
    0% {
        transform: translate(0, -20px);
        opacity:.1;
    }
    100% {
        transform: translate(0, 0);
        opacity:1;
}
}

.navbar-dark{
    background-color: #161b22;
}

input[type=text]
{
    color: whitesmoke;
}

input[type=text]:focus{
    color: white;
    background-color: #0d1117;
}

.form-wrapper 
{
    padding: 10px 15px;
    background-color: #0d1117;
    border: 1px solid #c9d1d946;
    border-radius: 6px;
    /* animation: fadeIn linear .7s; */
}
/* 
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
} */

.result-wrapper
{
    color: whitesmoke;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #0d1117;
    border: 1px solid #c9d1d946;
    border-radius: 6px;
}

footer{
    
    color: #4f95e4;
    text-align: center;
    padding: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon:hover{
    transform: scale(1.1);
    
}

.icon{
    margin:0 30px;
    width: 30px;
}
label{
    color: aliceblue;
}

h1
{
    margin: auto;
}

p{
    font-family: 'Raleway', sans-serif;
}

a{
    color: #4f95e4;
}

a:hover{
    text-decoration: none;
}

.form-control{
    border-radius: 30px;
    background-color: #0d1117;
}

.container
{
    max-width: 60%;
    margin-top: 40px;
}

.button
{
    display: block;
    text-align: center;
}

.btn{
    font-size: 1rem;
    padding: 10px 50px;
    background-color: #4f95e4;
    border-radius: 40px;
}

@media only screen and (max-width: 600px) 
{
    
    .container
    {
        max-width: 100%;
    }
  }