{%extends "ui.html"%}

{%block body%}
<div class="container mainWrapper form-wrapper">
    <p>
        Yoogle is a tool with which youtube video transcripts can be searched. Using the link of the video and
        the search-term, the video's transcript is searched for the search-term. All matches are displayed with
        their respective timestamps which navigates to the video at the corresponding timestamp.
    </p>
    <p>
        Yoogle can search through playlists too. Simply paste the link of the video/playlist you want to search
        and enter the search term. Click submit and let Yoogle do the magic.
    </p>
    <p>
        Currently Yoogle supports searching for English transcripts only. Help us expand by contributing to the project.
    </p>
</div>
{% endblock %}