<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Youtube Transcript Search</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/youtube_blue.png') }}">
</head>
<body>
    <nav class="navbar navbar-dark">
        Yoogle

        <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
        <div class="nextTheme">Dark Mode</span>
        </div>
    </nav>
    <div class="container mainWrapper">
        <div class="form-wrapper">
            <!-- <h1><p><span style="font-weight: bold; color:#58a6ff;">Yoogle</span></p></h1> -->
        
        <form action = "/" method = "POST">
            <div class="form-group" style="padding-top: 10px;">
            <label for="url" style="font-weight: bold;">YouTube URL</label>
            <input type="text" name="url" class="form-control" id="url" aria-describedby="emailHelp" placeholder="Link to the YouTube video/playlist" value={{url}}>
            </div>
            
            <div class="" style="padding-top: 10px;">
            <label for="url" style="font-weight: bold;">Search term</label>
            <input type="text" name="word" class="form-control" id="word" aria-describedby="emailHelp" placeholder="Keyword or sentence to search for" value={{word}}>
            </div>
            <br>
           
            <br>
            <div class="button">
                <button type="button" onclick="clearTextfield()" class="btn btn-primary clearBtn">Clear</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
        <br>
    </div>
    <br>
   {% if temp is defined and temp != None%} 
   <div class="result-wrapper">

        {% for sentence in temp['messages'] %}
            <div> {{ sentence }} </div>
        {% endfor %}
        <hr/>
        {% for title, id in temp['titles'] %}
            <h5> <a href="https://youtube.com/watch?v={{id}}"> {{ title }} </a> </h5>
            {% for time in temp[title].keys() %}
                <div> <a href="https://youtube.com/watch?v={{id}}&t={{time}}"> {{ temp[title][time][0] }} </a> {{ temp[title][time][1] }} </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    </div>
    <footer>
        <a href="https://github.com/Jawadtp/Backend-for-Youtube-Transcript-Seeker"><p style="display: inline;">Contribute </p></a>
        <a href="https://github.com/Jawadtp/Backend-for-Youtube-Transcript-Seeker"><i class="fa fa-github fa-2x" style="display: inline;"></i></a>
        <a href="https://github.com/Jawadtp/Backend-for-Youtube-Transcript-Seeker/issues"><p style="display: inline;">Report a bug</p></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script>

        let theme = localStorage.getItem("theme")
        
        if(theme && theme==='light')
        {
            console.log('Light theme')
            document.getElementById("checkbox").checked = true
            document.documentElement.setAttribute('theme', 'light');
            document.getElementsByClassName("nextTheme")[0].innerHTML="Light Mode";
        } 

        function clearTextfield()
        {
            console.log('Clearing textfields..')
            document.getElementById("url").value=""
            document.getElementById("word").value=""
        }

        const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

        function changeTheme(e) 
        {
            if (e.target.checked) 
            {
                document.documentElement.setAttribute('theme', 'light');
                document.getElementsByClassName("nextTheme")[0].innerHTML="Light Mode";
                localStorage.setItem('theme','light')
            }
            else 
            {
                document.documentElement.setAttribute('theme', 'dark');
                document.getElementsByClassName("nextTheme")[0].innerHTML="Dark Mode";
                localStorage.setItem('theme','dark')
            }    
        }

        toggleSwitch.addEventListener('change', changeTheme, false);

    </script>
</body>
</html>